{% extends 'base.html' %}

{% block title %}
   Vacancy detail
{% endblock title %}

{% block main %}

<div class="card  w-100" >
                <div class="card-header d-flex justify-content-between">
                    <div>{{ vacancy.title }}</div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <i class="far fa-eye fa-sm" style="margin-right: 10px;">100</i>
                        </div>
                        <div><a href="{% url 'vacancy_delete' vacancy.pk %}" style="margin-right: 10px"><i class="far fa-trash-can fa-lg"></i></a></div>
                        <div><a href="{% url 'vacancy_update' vacancy.pk %}"><i class="far fa-pen-to-square fa-lg"></i></a></div>

                    </div>

                </div>
                <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'vacancy_detail' vacancy.pk %}">{{ vacancy.title }}</a></h4>
                        <h3>Company: <i>{{ vacancy.company_name }}</i></h3>
                        <h2>Salary: <b>{{ vacancy.salary_from }} - {{ vacancy.salary_to }} $</b></h2>
                        <p class="card-text">
                          Experience from {{ vacancy.work_experience_from }} to {{ vacancy.work_experience_to }} years
                        </p>
                        <p class="card-text">
                          <b>Requirements:</b>  {{ vacancy.required_task }}
                        </p>
                        <p class="card-text">
                          <b>About company:</b>  {{ vacancy.about_company }}
                        </p>
                        <p class="card-text">
                          <b>Convenience:</b>  {{ vacancy.convenience }}
                        </p>
                        <p class="card-text">
                          <b>Skills:</b>  {{ vacancy.skills }}
                        </p>


                    <a style="width: 12%" href="{% url 'index' %}" type="button" class="btn btn-primary">Back</a>
                    <a style="width: 15%; background-color: white; color: #3b71ca; border: 1px solid #3b71ca;" href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=DmwnWrRlRZVbgCMsMvLSWJLBBKQqrkCpKSPsLmlBQsxtZdVbqzkQfXGBgqBdjkFRpFKhzKdKrGPl" target="_blank" type="button" class="btn btn-primary">Contact</a>
                </div>
                <div class="card-footer">{{ vacancy.updated }}</div>
</div>

{% endblock main %}